 body {
  background-color: #74d12e;
 }


 h2 {
  background-color: yellow;
}


  .title { 

}
   h1 {
  color: grey;
 }
ol ul ol {
  color: blue;
}

.colors {


}

    ul.red{
color: red;
}
    ol.blue{
color: blue;
}

